<div class="nav">
    <a href="https://cupcake2048.me">
        <img class="logo" src="https://gas.basketballbros.me/images/favicon.png" alt="Cupcake 2048 online">
        <H1>Cupcake 2048 Online</H1>
    </a>
</div>