<!--<div class="top-bar-image-list">-->
<!--    <ul class="image-list game-list-container5">-->

<!--        <li class="image-list-item box5">-->
<!--            <a href="/hexa-puzzle-master">-->
<!--                <div>-->
<!--                    <img class="lazyload" data-src="https://res.tetris-jp.com/tetris/hexa-puzzle-master/banner-hexa-puzzle-master.webp" alt="ヘキサパズルマスター" />-->
<!--                    <h3>ヘキサパズルマスター</h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="image-list-item box5">-->
<!--            <a href="/block-legends">-->
<!--                <div>-->
<!--                    <img class="lazyload" data-src="https://res.tetris-jp.com/tetris/block-legends/banner-block-legends-768x464.webp" alt="ブロックレジェンド"/>-->
<!--                    <h3>ブロックレジェンド</h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="image-list-item box5">-->
<!--            <a href="/block-blasty-saga">-->
<!--                <div>-->
<!--                    <img class="lazyload" data-src="https://res.tetris-jp.com/tetris/block-blasty-saga/banner-block-blasty-saga-768x464.webp" alt="ブロックブラスティサーガ"/>-->
<!--                    <h3>ブロックブラスティサーガ</h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="image-list-item box5">-->
<!--            <a href="/puzzle-blocks-classic">-->
<!--                <div>-->
<!--                    <img class="lazyload" data-src="https://res.tetris-jp.com/tetris/puzzle-blocks-classic/banner-puzzle-blocks-classic.webp" alt="ブロックパズルクラシック"/>-->
<!--                    <h3>ブロックパズルクラシック</h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="image-list-item box5">-->
<!--            <a href="/block-puzzle-travel">-->
<!--                <div>-->
<!--                    <img class="lazyload" data-src="https://res.tetris-jp.com/tetris/block-puzzle-travel/banner-block-puzzle-travel-768x464-02.webp" alt="ブロックパズルトラベル"/>-->
<!--                    <h3>ブロックパズルトラベル</h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="image-list-item box5">-->
<!--            <a href="/block-up-puzzle">-->
<!--                <div>-->
<!--                    <img class="lazyload" data-src="https://res.tetris-jp.com/tetris/BlockUp-Puzzle/banner-BlockUp-Puzzle-768x464.webp" alt="ブロックアップパズル 2025"/>-->
<!--                    <h3>ブロックアップパズル 2025</h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="image-list-item box5">-->
<!--            <a href="/block-blaster-puzzle">-->
<!--                <div>-->
<!--                    <img class="lazyload" data-src="https://res.tetris-jp.com/tetris/block-blaster-puzzle/block-blaster-puzzle-768x464.webp" alt="ブロックブラスター パズル"/>-->
<!--                    <h3>ブロックブラスター パズル</h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="image-list-item box5">-->
<!--            <a href="/">-->
<!--                <div>-->
<!--                    <img class="lazyload" data-src="https://res.tetris-jp.com/tetris/tetra-blocks/banner-tetra-blocks-02.webp" alt="テトリス 無料 サイト"/>-->
<!--                    <h3>テトリス 無料 サイト</h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="image-list-item box5">-->
<!--            <a href="/puzzle-blocks-fill-it-completely">-->
<!--                <div>-->
<!--                    <img class="lazyload" data-src="https://res.tetris-jp.com/tetris/Puzzle-Blocks-Fill-It-Completely/Puzzle-Blocks-Fill-It-Completely-768x464.webp" alt="パズルブロック：フィル・イット・コンプリート"/>-->
<!--                    <h3>パズルブロック：フィル・イット・コンプリート</h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->